body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 1rem 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-title {
  margin: 0 0 1rem;
}
